<div id="left-menu" class="ui padded grid">
  <div class="sixteen wide column">
    <div class="ui fluid vertical menu">
      <a class="item" routerLink="home" routerLinkActive="active">
        <i class="home icon"></i>
        <b> Home </b>
      </a>
      <div class="item">
        <b> My Stories </b>

        <hr>
        
        <sui-accordion class="styled fluid">
          <sui-accordion-panel *ngFor="let story of stories" [isOpen]="true">
            <a class="item" routerLink="worlds" routerLinkActive="active">
              <i class="world icon"></i>
              Worlds
            </a>
            <a class="item" routerLink="characters" routerLinkActive="active">
              <i class="user icon"></i>
              Characters
            </a>
            <a class="item" routerLink="stories" routerLinkActive="active">
              <i class="book icon"></i>
              Stories
            </a>
            <a class="item" routerLink="scenes" routerLinkActive="active">
              <i class="film icon"></i>
              Scenes
            </a>
            <a class="item" routerLink="lore" routerLinkActive="active">
              <i class="map signs icon"></i>
              Lore
            </a>
            <a class="item" routerLink="collaborators" routerLinkActive="active">
              <i class="users icon"></i>
              Collaborators
            </a>
          </sui-accordion-panel>
        </sui-accordion>
      </div>
      <div class="item">
        <b> My Viewers </b>
        <hr>
        <a class="item" routerLink="user-views" routerLinkActive="active">
          <i class="line chart icon"></i>
          User Views
        </a>
        <a class="item" routerLink="subscribers" routerLinkActive="active">
          <i class="checkmark box icon"></i>
          Subscribers
        </a>
      </div>
    </div>
  </div>
</div>
