<div id="left-menu" class="ui padded grid">
  <div class="sixteen wide column">
    <div class="ui massive vertical menu">
      <a class="item active">
        <i class="home icon"></i>
        <b> Home </b>
      </a>
      <div class="item">
        <b> My Stories </b>
        <hr>
        <a class="item">
          <i class="world icon"></i>
          Worlds
        </a>
        <a class="item">
          <i class="user icon"></i>
          Characters
        </a>
        <a class="item">
          <i class="book icon"></i>
          Stories
        </a>
        <a class="item">
          <i class="film icon"></i>
          Scenes
        </a>
        <a class="item">
          <i class="map signs icon"></i>
          Lore
        </a>
        <a class="item">
          <i class="users icon"></i>
          Collaborators
        </a>
      </div>
      <div class="item">
        <b> My Viewers </b>
        <hr>
        <a class="item">
          <i class="line chart icon"></i>
          User Views
        </a>
        <a class="item">
          <i class="checkmark box icon"></i>
          Subscribers
        </a>
      </div>
    </div>
  </div>
</div>