<md-grid-list cols="6" rowHeight="38px" class="sw-header-container">
  <md-grid-tile
      class="sw-logo-container"
      [colspan]="1"
      [rowspan]="1">
    <img src="../../assets/img/logo.png" />
  </md-grid-tile>
  <md-grid-tile
      [colspan]="2"
      [rowspan]="1">
      <div class="sw-button-row">
        <button md-button>Home</button>
        <button md-button>About</button>
        <button md-button>Contact</button>
      </div>
  </md-grid-tile>
  <md-grid-tile
      [colspan]="3"
      [rowspan]="1">
      <div class="sw-button-row">
        <button md-button>Register</button>
        <button md-button>Login</button>
      </div>
  </md-grid-tile>
</md-grid-list>