<div class="ui padded grid">
  <!-- More Information -->
  <div class="four wide column">
    <h4> More Information </h4>

    <a href="about"> About </a> <br />
    <a href="contact"> Contact </a>
  </div>
  <!-- Quick Links -->
  <div class="four wide column">
    <h4> Find what you're looking for? </h4>
    
    <a href="search/worlds"> Search Worlds </a> <br />
    <a href="search/authors"> Search Authors </a>
  </div>
  <!-- Guidance -->
  <div class="four wide column">
    <h4> I need some guidance </h4>
    
    <a href="getting-started"> Getting Started </a> <br />
    <a href="explore"> Explore </a>
  </div>
  <!-- Social Media -->
  <div class="four wide column">
    <h4> Want to follow us? </h4>
    
    <a href="facebook"> Facebook </a> <br />
    <a href="twitter"> Twitter </a>
  </div>
</div>
